# EmailJS Configuration - Keep these private!
VITE_EMAILJS_SERVICE_ID=service_2j6o4f5
VITE_EMAILJS_TEMPLATE_ID=template_i9zgzrt
VITE_EMAILJS_USER_ID=0bRDgwycCr8e3H10V
VITE_EMAILJS_TO_EMAIL=shihabthebrowncrow@gmail.com
